.wrapper {
    display: flex;
    width: 100%;
}

#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: #88d59f;
    color: #fff;
    transition: all 0.3s;
}
.list-unstyled-components{
    padding: 20px;
}
#title-page{
    background: #000000;
    color: white;
    text-align: center;
    font-family: Arial;
}
.dropdown-toggle{
    color: black;
    margin: 30px;
}
.main-ul-elements{
    margin: 30px;
    color: black;
}
.forSpacing{
    color: black;
}
.forSpacingRestOthers{
    color: black;
}
.jumbotron{
    width: 70%;
    height: 50%;
    margin-left: 20%;
}